version: 2.1

jobs:
  build:
    working_directory: ~/gateways-app
    docker:
      - image: node:14
        environment:
          - MONGO_URI: mongodb://localhost:27017/test

    steps:
      - checkout
      - run:
          name: running npm install
          command: npm install

      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Install MongoDB dependencies
          command: |
            apt-get update
            apt-get install -y mongodb-server

      - run:
          name: Start MongoDB
          command: |
            service mongodb start

      - run:
          name: Run tests
          command: npm run test

      - run:
          name: Build app
          command: npm run build
