version: 2.1

jobs:
  build:
    working_directory: ~/gateways-app
    docker:
      - image: circleci/node:14

    steps:
      - checkout
      - run:
          name: running npm install
          command: npm install

      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Start MongoDB
          command: |
            sudo systemctl start mongodb

      - run:
          name: Run tests
          command: npm run test

      - run:
          name: Build app
          command: npm run build
