version: 2.1

jobs:
  build:
    working_directory: ~/gateways-app
    docker:
      - image: node:14
        environment:
          - MONGO_URI: mongodb://localhost:27017/test

    steps:
      - checkout
      - run:
          name: running npm install
          command: npm install
      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Start MongoDB
          command: sudo su
              apt-get update
              apt-get install mongodb-server -y
              service mongodb start

      - run:
          name: Run tests
          command: npm run test
