version: 2.1

jobs:
  build:
    working_directory: ~/gateways-app
    docker:
      - image: node:lts
    environment:
      - MONGO_URI: mongodb://localhost:27017/test
      - PORT: 4000

    steps:
      - checkout
      - run:
          name: Install NPM dependencies
          command: |
            npm install
      - run:
          name: Start MongoDB
          command: |
            mongod

      - run:
          name: Install CI dependencies
          command: npm ci

      - run:
          name: Run tests
          command: npm run test

      - run:
          name: Stop MongoDB
          command: |
            docker stop mongo_db
