version: 2.1

jobs:
  start_mongo:
    working_directory: ~/repo
    docker:
      - image: mongo:4
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    steps:
      - run:
          name: Start MongoDB
          command: |
            service mongodb start

  build:
    working_directory: ~/gateways-app
    docker:
      - image: node:16
    environment:
      - MONGO_URI: mongodb://root:password@localhost:27017/test

    steps:
      - checkout
      - run:
          name: running npm install
          command: npm install

      - run:
          name: Install dependencies
          command: npm ci

      - run:
          name: Run tests
          command: npm run test

      - run:
          name: Build app
          command: npm run build
